body {
    background: #EEE;
}

container {
    background: white;
    max-width: 700px;
    margin: 10px auto;
    padding: 10px 20px;
}

hr {
    border-color: #DDD;
}

button {
    background: #333;
    padding: 10px 20px;
    margin: 10px 0;
}

column {
    padding: 0 10px;
}
